<link rel="stylesheet" type="text/css" href="__VENDOR__/easyui/themes/default/easyui.css" />
<link rel="stylesheet" type="text/css" href="__VENDOR__/css/admin/wu.css" />
<link rel="stylesheet" type="text/css" href="__VENDOR__/css/admin/icon.css" />
<link rel="stylesheet" type="text/css" href="__VENDOR__/css/admin/city.css" />
<script type="text/javascript" src="__VENDOR__/easyui/jquery.min.js"></script>
<script type="text/javascript" src="__VENDOR__/easyui/jquery.easyui.min.js"></script>
<script type="text/javascript" src="__VENDOR__/easyui/locale/easyui-lang-zh_CN.js"></script>
<script type="text/javascript" src="__VENDOR__/js/admin/mybase.js"></script>

<div id="operatBox">
    <a href="javascript:void(0)" id="addCity" class="easyui-menubutton"
       data-options="iconCls:'icon-add'" onclick="openAddWindow()">添加</a>
    <a href="javascript:void(0)" id="editCity" class="easyui-menubutton"
       data-options="iconCls:'icon-edit'" onclick="openEditWindow()">编辑</a>
</div>

<table id="dg"></table>

<!--添加框-->

<div id="win" class="easyui-window" title="分类"
     data-options="iconCls:'icon-save',modal:true,closed:true,draggable:true,resizable:true">
    <form name="addform" id="addform" action="" method="post"
          enctype="multipart/form-data">
        <input type="hidden" name="id" id="myid" value="">
        <table>
            <tr>
                <td> 分类编码  :</td>
                <td><input class="easyui-textbox myinput" id="code" name="code" ></td>
                <td> 分类描述:</td>
                <td><input class="easyui-textbox myinput" id="name" name="name"></td>
            </tr>
            <tr>
                <td>是否启用 </td>
                <td>
                    <input type="radio" name="status" value="1" checked>是
                    <input type="radio" name="status" value="0">否
                </td>
                <td> 选择打印机 :</td>
                <td>
                    <select style="width: 100%;margin: 0px;padding-top: 0px;padding-bottom: 0px;height: 28px;line-height: 28px;" name="prints" id="grade">
                        <option value=""></option>
                        {foreach $printsList as $key => $vo} 
                            <option value="{$key}">{$vo}</option>
                        {/foreach}
                    </select>
                </td>
            </tr>
            <tr>
                <td colspan="4">
                    <div style="float: right">
                        <a onclick="saveCategory()" href="javascript:void(0)" class="easyui-linkbutton"
                           data-options="iconCls:'icon-ok'">确定</a>
                        <a onclick="closeAddWindow()" href="javascript:void(0)" class="easyui-linkbutton"
                           data-options="iconCls:'icon-no'">取消</a>
                    </div>
                </td>
            </tr>
        </table>
    </form>
    <div id= "mydialog" class="easyui-dialog" style="width:300px;height:150px;text-align:center;line-height: 65px;"
         data-options="title:'系统提示',buttons:'#bb',modal:true,closed:true">
    </div>
    <div id="bb">
        <a href="#" class="easyui-linkbutton" onclick="dodelete()">确认</a>
        <a href="#" class="easyui-linkbutton" onclick="cancelBtn()">取消</a>
    </div>
</div>
<script>
    /*转为对象，初始化数据*/
    datatlist = JSON.parse('{$listJson}');
    if(datatlist == null){
        datatlist = "";
    }
    $(document).ready(function () {
        $('#dg').datagrid({
            pagination: true,
            rownumbers: true,
            fitColumns: true,
            singleSelect: true,
            data: datatlist.slice(0, 10),
            columns: [
                [
                    {field: 'code', align: "center", title: "分类编码", width: 100},
                    {field: 'name', align: "center", title: "分类名称", width: 100},
                    {field: 'printName', align: "center", title: "打印机名称", width: 100},
                    {field: 'statusDesc', align: "center", title: "分类状态", width: 100},
                    {field: 'createtime', align: "center", title: "创建时间", width: 100}
                ]
            ],
            rowStyler:function(index,row) {
                if (row.status == 0) {
                    return 'background-color:pink;color:blue'
                }
            }
        });
        var datapager = $("#dg").datagrid("getPager");
        datapager.pagination({
            total: datatlist.length,
            pageSize:10,
            onSelectPage: function (pageNo, pageSize) {
                var start = (pageNo - 1) * pageSize;
                var end = start + pageSize;
                $("#dg").datagrid("loadData", datatlist.slice(start, end));
                datapager.pagination('refresh', {
                    total: datatlist.length,
                    pageNumber: pageNo
                });
            }
        });
        $('#win').window({
            onClose: function () {
                window.location.reload(true);
            }
        });
    });


    /*关闭添加窗口*/
    function closeAddWindow() {
        closeWindow("#win");
        window.location.reload(true);
    }
    /*打开添加窗口*/
    function openAddWindow() {
        openWindow("#win");
    }
    /*保存数据*/
    function saveCategory() {
        saveData("{:url('Index/Category/addCategory')}","#addform","#win");
    }
    /*打开编辑窗口*/
    function openEditWindow() {
        var row = $('#dg').datagrid('getSelected');
        if (row){
            /*给编辑窗口赋值*/
            $("#myid").val(row.id);
            $('#name').textbox('setValue', row.name);
            $('#code').textbox('setValue', row.code);
            if(row.status == 1){
                $("input[name='status'][value='1']").attr('checked',true);
            }else{
                $("input[name='status'][value='0']").attr('checked',true);
            }
            $("#grade").find("option[value='"+ row.prints +"']").attr("selected",true);
            $("#win").window({closed:false});
        }
    }
    /*关闭对话框*/
    function cancelBtn() {
        closeWindow("#mydialog");
        window.location.reload(true);
    }
</script>




