<link rel="stylesheet" type="text/css" href="__VENDOR__/easyui/themes/default/easyui.css" />
<link rel="stylesheet" type="text/css" href="__VENDOR__/css/admin/wu.css" />
<link rel="stylesheet" type="text/css" href="__VENDOR__/css/admin/icon.css" />
<link rel="stylesheet" type="text/css" href="__VENDOR__/css/admin/city.css" />
<script type="text/javascript" src="__VENDOR__/easyui/jquery.min.js"></script>
<script type="text/javascript" src="__VENDOR__/easyui/plugins/jquery.panel.js"></script>
<script type="text/javascript" src="__VENDOR__/easyui/plugins/jquery.resizable.js"></script>
<script type="text/javascript" src="__VENDOR__/easyui/plugins/jquery.linkbutton.js"></script>
<script type="text/javascript" src="__VENDOR__/easyui/plugins/jquery.pagination.js"></script>
<script type="text/javascript" src="__VENDOR__/easyui/jquery.easyui.min.js"></script>
<script type="text/javascript" src="__VENDOR__/easyui/locale/easyui-lang-zh_CN.js"></script>
<script type="text/javascript" src="__VENDOR__/easyui/plugins/jquery.datagrid.js"></script>
<script type="text/javascript" src="__VENDOR__/easyui/plugins/jquery.menu.js"></script>
<script type="text/javascript" src="__VENDOR__/js/admin/mybase.js"></script>
<div id="operatBox">
    <a href="javascript:void(0)" id="addCity" class="easyui-menubutton"
       data-options="iconCls:'icon-add'" onclick="openAddCityWindow()">添加</a>
    <a href="javascript:void(0)" id="editCity" class="easyui-menubutton"
       data-options="iconCls:'icon-edit'" onclick="openEditWindow()">编辑</a>
<!--     <a href="javascript:void(0)" id="deleteCity" class="easyui-menubutton"
       data-options="iconCls:'icon-cut'" onclick="del()">删除</a> -->
</div>

<table id="dg"></table>

<!--添加框-->

<div id="win" class="easyui-window" title="系统配置"
     data-options="iconCls:'icon-save',modal:true,closed:true,draggable:true,resizable:true"
     style="top:30;display: none;">
    <form name="addform" id="addform" action="" method="post"
          enctype="multipart/form-data">
        <input type="hidden" name="id" id="myid" value="">
        <table>
            <tr>
                <td> 系统配置名称 :</td>
                <td>
                    <select style="width: 100%;margin: 0px;padding-top: 0px;padding-bottom: 0px;height: 28px;line-height: 28px;" name="name" id="grade">
                        <option value=""></option>
                        {foreach $settingConfig as $key => $vo} 
                            <option value="{$key}">{$vo}</option>
                        {/foreach}
                    </select>
                </td>
                <td>是否启用 </td>
                <td>
                    <input type="radio" name="status" value="1" checked>是
                    <input type="radio" name="status" value="0">否
                </td>
            </tr>
            <tr>
                <td> 系统配置:</td>
                <td colspan="3"><input style="width: 100%;" class="easyui-textbox" id="description" name="desc"></td>
                <td></td>
            </tr>
            <tr>
                <td colspan="4">
                    <div style="float: right">
                        <a onclick="save()" href="javascript:void(0)" class="easyui-linkbutton"
                           data-options="iconCls:'icon-ok'">确定</a>
                        <a onclick="closeAddWindow()" href="javascript:void(0)" class="easyui-linkbutton"
                           data-options="iconCls:'icon-no'">取消</a>
                    </div>
                </td>
            </tr>
        </table>
    </form>
    <div id= "mydialog" class="easyui-dialog" style="width:300px;height:150px;text-align:center;line-height: 65px;"
     data-options="title:'系统提示',buttons:'#bb',modal:true,closed:true">
</div>
<div id="bb">
    <a href="javascript:void(0)" class="easyui-linkbutton" onclick="delBtn()">确认</a>
    <a href="javascript:void(0)" class="easyui-linkbutton" onclick="cancelBtn()">取消</a>
</div>
</div>
<script>
    /*转为对象*/
    setting = JSON.parse('{$setting}');
    if(setting == null ){
        setting = "";
    }
    $(document).ready(function () {
        $('#dg').datagrid({
            pagination: true,
            rownumbers: true,
            fitColumns: true,
            singleSelect: true,
            data: setting.slice(0, 10),
            columns: [
                [
                    {field: 'id', align: "center", title: "ID", width: 100},
                    {field: 'names', align: "center", title: "系统分配名称", width: 100},
                    {field: 'desc', align: "center", title: "系统分配描述", width: 100},
                    {field: 'statusDesc', align: "center", title: "开启状态", width: 100}
                ]
            ],

            rowStyler:function(index,row)
            {
                if (row.status ==0) {
                    return 'background-color:pink;color:blue'

                }
            }
        });
        var citypager = $("#dg").datagrid("getPager");
        citypager.pagination({
            total: setting.length,
            pageSize:10,
            onSelectPage: function (pageNo, pageSize) {
                var start = (pageNo - 1) * pageSize;
                var end = start + pageSize;
                $("#dg").datagrid("loadData", citytlist.slice(start, end));
                citypager.pagination('refresh', {
                    total: citytlist.length,
                    pageNumber: pageNo
                });
            }
        });
    });
    /*关闭添加窗口*/
    function closeAddWindow() {
        $("#win").window({closed:true});
        window.location.reload(true);
    }

    /*打开添加窗口*/
    function openAddCityWindow() {
        $("#win").window({closed:false});
    }
    /*保存数据*/
    function save() {
        var url = "{:url('index/setting/add')}";
        $('#addform').form('submit', {
            url: url,
            onSubmit: function () {
            },
            success: function (data) {
                if(JSON.parse(data).code=='200'){
                    $.messager.show({
                        title: '系统提示',
                        msg: JSON.parse(data).message,
                       showType: 'fade',
                        style: {
                            right: '',
                            bottom: ''
                        }
                    });
                    $("#win").window({closed:true});
                    /*刷新页面*/
                    setTimeout(function(){window.location.reload(true)},3000);
                }else{
                    $.messager.show({
                        title: '系统提示',
                        msg: JSON.parse(data).message,
                        showType: 'fade',
                        style: {
                            right: '',
                            bottom: ''
                        }
                    });
                    $("#win").window({closed:true});
                    setTimeout(function(){window.location.reload(true)},3000);
                }
            }
        });
    }
    /*打开编辑窗口*/
    function openEditWindow() {
        var row = $('#dg').datagrid('getSelected');
        if (row){
            /*给编辑窗口赋值*/
            $("#myid").val(row.id);
            $('#description').textbox('setValue', row.desc);
            if(row.status == 1){
                $("input[name='status'][value='1']").attr('checked',true);
            }else{
                $("input[name='status'][value='0']").attr('checked',true);
            }
            $("#grade").find("option[value='"+ row.name +"']").attr("selected",true);
            $('#grade').attr('disabled', 'true');
            $("#win").window({closed:false});
        }
    }

    function del()
    {
        var row = $('#dg').datagrid('getSelected');
        if (row)
        {
            $("#mydialog").html("确认删除？");
            $("#mydialog").window({closed:false});
        }
    }

    function delBtn()
    {
        var row = $('#dg').datagrid('getSelected');
        if (row)
        {
            $("#mydialog").window({closed:false});
            deleteData("{:url('setting/del')}",row.id);
        }
    }

    /*关闭对话框*/
    function cancelBtn()
    {
        closeWindow("#mydialog");
    }
</script>





